
@import "~datatables.net-dt/css/jquery.dataTables.min.css";

.logo-clickable-area {
	cursor: pointer;;
	height: 100px;
	max-height: 100px;
	min-height: 100px;
	width: 100%;
	border: 1px dashed;
	margin: 0;
	span {
		position: relative;
		top: 39%;
		left: 100px;
	}
}
